{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bids</title>
    <link rel="stylesheet" href="../../static/viewbids.css">
</head>

<body>
    <!-- NAVBAR -->
    <div class="navbar">
        <div class="logo">
            <a href="/" style="text-decoration: none; color: inherit; display: inline-block;">
                <h1 style="margin: 0;">SmartBid <span>💡</span></h1>
            </a>
        </div>

        <!-- DROPDOWN FOR USER OPTIONS -->
        <div class="dropdown">
            <a class="login-btn">You</a>
            <div class="dropdown-content">
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'adminPage' %}">Admin</a>
                <a href="{% url 'profile' %}">Profile</a>
                <a href="signout.html">Sign Out</a>
                <a href="profile.html">Profile Popup</a>
            </div>
        </div>

        <!-- PROFILE POPUP -->
        <div id="profile-popup" class="profile-popup">
            <div class="profile-popup-content">
                <span class="close">&times;</span>
                <h1>My Profile</h1>
                <div class="profile-popup-info">
                    <div class="align-profile">
                        <p>{{ user.first_name }} {{ user.last_name }}</p>
                        <p>- 3.6 (7 Ratings)</p>
                    </div>
                    <p><strong>Date Joined:</strong> January 1, 2023</p>
                    <p><strong>Total Transactions:</strong> 25</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bid-container">
        <h1>View Bids</h1>

        <!-- SEARCH BAR + CREATE LISTING BUTTONS -->
        <div class="search-container">
            <div class="search-bar">
                <input type="text" placeholder="Search for bid...">
                <button id="search-button" style="font-weight: bold;">Search</button>
                <button id="listing-button" style="margin-left:100px">Create Listing</button>
            </div>
        </div>

        <!-- CREATE LISTING FORM -->
        <form id="listing-popup" class="popup" action="{% url 'viewbids' %}" method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="popup-content">
                <span class="close-listing">&times;</span>
                <h2 style="margin-top: 40px; margin-bottom: 20px">Create Listing</h2>
                <div class="title">
                    <input type="text" name="title" placeholder="Title" required>
                </div>
                <div class="description">
                    <textarea name="description" placeholder="Enter a detailed description of the item..." rows="5"
                        required></textarea>
                </div>
                <div class="deadline">
                    <input type="date" name="deadline" id="datePickerId" required>
                </div>
                <div class="filter-option">
                    <select name="category" id="categories" required>
                        <option value="" disabled selected>Category</option>
                        <option value="Electronics">Electronics</option>
                        <option value="School Essentials">School Essentials</option>
                        <option value="Fashion & Apparel">Fashion & Apparel</option>
                        <option value="Accessories & Gadgets">Accessories & Gadgets</option>
                    </select>
                </div>
                <div class="filter-option">
                    <select name="availability" id="categories" required>
                        <option value="" disabled selected>Availability</option>
                        <option value="for-rent">For Rent</option>
                        <option value="for-sale">For Sale</option>
                    </select>
                </div>
                <div class="filter-option">
                    <input type="number" name="price" placeholder="Starting Bid Amount" min="0" required>
                </div>

                <div class="file-container">
                    <p class="upload-header">Upload Files</p>
                    <p style="font-size: 12px;">Supported Formats: PNG, JPEG, JPG</p>
                    <div class="upload-text">
                        <p>Drag and drop your files</p>
                        <p style="margin-bottom: 10px;">or</p>
                        <input type="file" name="images" id="upload-button" accept=".png, .jpeg, .jpg" multiple
                            required />
                        <label for="upload-button">Browse Files</label>
                    </div>
                    <div id="image-preview" class="image-preview"></div>
                </div>
                <button type="submit" id="apply-filters" style="margin-top: 15px;">Create Listing</button>
            </div>
        </form>

        <!-- BID ITEMS -->
        <div class="listings-container">
            <!-- FILTER BUTTONS -->
            <div class="button-container" style="margin-top: 20px;">
                <button id="all-button" data-filter="All">All</button>
                <button id="completed-button" data-filter="Completed">Completed</button>
                <button id="in-progress-button" data-filter="In-Progress">In-Progress</button>
                <button id="selling-button" data-filter="Selling">Selling</button>
                <button id="buying-button" data-filter="Buying">Buying</button>
            </div>

            <div class="listing-area">
                {% for listing in data.listings %}
                <div class="item-card Completed" data-listing-type="selling">
                    <a href="{% url 'listing' listing.id %}"
                        style="text-decoration: none; color: inherit; display: block;">
                        {% if listing.image_url %}
                        <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
                        {% else %}
                        <img src="https://via.placeholder.com/200" alt="No image available">
                        {% endif %}
                        <div class="item-info">
                            <p class="item-name">{{listing.title}}</p>
                            <p class="item-price">${{listing.price}}</p>
                            <p class="item-time">{{ listing.created_at|date:"M d, Y H:i" }}</p>
                            <p class="item-account">{{user.username}} - 4.2 (10 Ratings)</p>
                            <p class="item-status">{{listing.availability}}</p>
                            {% if listing.availability != 'sold' %}
                            <p class="item-status">Deadline: {{ listing.deadline|slice:":10" }}</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endfor %}

                {% for transaction in data.transactions %}
                <div class="item-card Completed" data-listing-type="buying">
                    <a href="{% url 'listing' transaction.listing.id %}" style="text-decoration: none; color: inherit; display: block;">
                        <div class="item-image">
                            {% if transaction.image_url %}
                                <img src="{{ transaction.image_url }}" alt="{{ transaction.listing.title }}">
                            {% else %}
                                <img src="https://via.placeholder.com/200" alt="No image available">
                            {% endif %}
                        </div>
                        <div class="item-info">
                            <p class="item-name">{{transaction.listing.title}}</p>
                            <p class="item-price">${{transaction.amount}}</p>
                            <p class="item-time">{{ transaction.created_at|date:"M d, Y H:i" }}</p>
                            <p class="item-account">{{transaction.seller.first_name}} {{transaction.seller.last_name}} - 4.2 (10 Ratings)</p>
                            <p class="item-status">{{transaction.listing.availability}}</p>
                            {% if transaction.listing.availability != 'sold' %}
                            <p class="item-status">Deadline: {{ transaction.listing.deadline|slice:":10" }}</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <script>
            const today = new Date();
            const yyyy = today.getFullYear();
            const mm = String(today.getMonth() + 1).padStart(2, '0');
            const dd = String(today.getDate()).padStart(2, '0');
            const formattedDate = `${yyyy}-${mm}-${dd}`;

            document.getElementById('datePickerId').min = formattedDate;

            // OPEN PROFILE
            document.addEventListener("DOMContentLoaded", function () {
                const profilePopup = document.getElementById('profile-popup');
                const closePopupBtn = document.querySelector('.close');
                const profileLink = document.querySelector('.dropdown-content a[href="profile.html"]');

                profileLink.addEventListener('click', function (event) {
                    event.preventDefault();
                    profilePopup.style.display = 'block';
                });

                closePopupBtn.addEventListener('click', function () {
                    profilePopup.style.display = 'none';
                });

                window.addEventListener('click', function (event) {
                    if (event.target === profilePopup) {
                        profilePopup.style.display = 'none';
                    }
                });
            });

            // SEARCH
            document.addEventListener("DOMContentLoaded", function () {
                const searchButton = document.getElementById("search-button");
                const searchInput = document.querySelector("input[type='text']");
                const itemCards = document.querySelectorAll('.item-card');

                searchButton.addEventListener('click', () => {
                    const searchTerm = searchInput.value.toLowerCase();
                    
                    itemCards.forEach(card => {
                        const itemName = card.querySelector('.item-name').textContent.toLowerCase();
                        const shouldShow = itemName.includes(searchTerm);
                        card.style.display = shouldShow ? 'block' : 'none';
                    });
                });

                // Add search on Enter key press
                searchInput.addEventListener('keypress', (e) => {
                    if (e.key === 'Enter') {
                        searchButton.click();
                    }
                });
            });

            // UPLOADING IMAGES
            const uploadButton = document.getElementById('upload-button');
            const fileChosen = document.getElementById('file-chosen');

            const listingButton = document.getElementById('listing-button');
            const listingPopup = document.getElementById('listing-popup');
            const closeListing = document.querySelector('.close-listing');

            listingButton.addEventListener('click', () => {
                listingPopup.style.display = 'block';
            });

            closeListing.addEventListener('click', () => {
                listingPopup.style.display = 'none';
            });

            document.addEventListener("DOMContentLoaded", function () {
                const uploadButton = document.getElementById('upload-button');
                const imagePreview = document.getElementById('image-preview');

                let imageCount = 0;

                uploadButton.addEventListener('change', function (event) {
                    const files = event.target.files;
                    imageCount = files.length > 5 ? 5 : files.length;

                    for (let i = 0; i < imageCount; i++) {
                        const file = files[i];
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            const imgElement = document.createElement('img');
                            imgElement.src = e.target.result;

                            const pElement = document.createElement('p');

                            const divElement = document.createElement('div');
                            divElement.appendChild(imgElement);
                            divElement.appendChild(pElement);
                            imagePreview.appendChild(divElement);
                        };
                        reader.readAsDataURL(file);
                    }
                });
            });

            document.addEventListener("DOMContentLoaded", function () {
                const filterButtons = document.querySelectorAll('.button-container button');
                const itemCards = document.querySelectorAll('.item-card');

                function applyFilters() {
                    const activeFilter = document.querySelector('.button-container button.active-filter')
                        .getAttribute('data-filter');

                    itemCards.forEach(card => {
                        const availability = card.querySelector('.item-status').textContent.toLowerCase();
                        const isBuying = card.getAttribute('data-listing-type') === 'buying';
                        const isSelling = card.getAttribute('data-listing-type') === 'selling';

                        switch(activeFilter) {
                            case 'All':
                                card.style.display = 'block';
                                break;
                            case 'Completed':
                                card.style.display = (availability === 'sold' || availability === 'rented') ? 'block' : 'none';
                                break;
                            case 'In-Progress':
                                card.style.display = (availability === 'for-sale' || availability === 'for-rent') ? 'block' : 'none';
                                break;
                            case 'Selling':
                                card.style.display = isSelling ? 'block' : 'none';
                                break;
                            case 'Buying':
                                card.style.display = isBuying ? 'block' : 'none';
                                break;
                        }
                    });
                }

                filterButtons.forEach(button => {
                    button.addEventListener('click', () => {
                        filterButtons.forEach(btn => btn.classList.remove('active-filter'));
                        button.classList.add('active-filter');
                        applyFilters();
                    });
                });

                // Set "All" as default active filter
                document.getElementById('all-button').classList.add('active-filter');
                applyFilters();
            });
        </script>
</body>

</html>
